    <!-- begin:header -->
    <section id="header" class="heading" style="background: url({{assets}}/img/img03.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title-desc">
                        <h2>About Me /</h2>
                        <p>Danish is a nice theme.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- end:header -->

    <!-- begin:content -->
    <section id="content">
      <div class="container">
        <div class="row">
            <!-- begin:article -->
            <div class="col-md-8 col-sm-8">
                <div class="featured-container">
                  <div class="featured-img featured-img-avatar" style="background: url({{assets}}/img/img00.jpg);">
                    <h3>Danish. / Young Designer</h3>
                  </div>
                </div>
                <br>
                <div class="heading-title">
                    <h2>Danish. /</h2>
                </div>
                <p>Hello i'm danish. I'm 23 years old. I'm a girl has long hair, big eyes, big <del>tit</del> tooth, chubby cheeks, and a charming smile. I'm someone who has a good personality, hard worker relaxed, and creative young people. I love to design clothes, sew their own, and make the clothes look beautiful <strong>(like me :p)</strong>. I sew in my office that size is not more than 10m<sup>2</sup>, and often only accompanied by coffee slowly started to cool down before I finish my work. I love to help people create clothes that make the person using it look more beautiful. I also often design and make accessories. Such as bags, and so on. I am glad a lot of people who use the product of my work.</p>
                <p>If you are interested in me, come to my house and told my mom if you want to marry me. <strong>#wrongfocus</strong> Upppsss, meaning if you are interested and want to design it in a shirt, dress, and so on, do not hesitate, contact me immediately. Thank you. Regards, <strong>Danish.</strong></p>
            </div>
            <!-- end:article -->

            <!-- begin:sidebar -->
            <div class="col-md-4 col-sm-4 sidebar">
                <div class="widget-sidebar">
                    <h3>Search</h3>
                    <form id="search" class="navbar-form search" role="search">
                        <input type="search" class="form-control input-lg" placeholder="Type your keyword">
                        <button type="submit" class="btn btn-info btn-search"><i class="fa fa-arrow-right"></i></button>
                    </form>
                </div>

                <div class="widget-sidebar widget_categories">
                  <h3>Categories</h3>
                  <ul>
                    <li><a href="#">Design</a> (20)</li>
                    <li><a href="#">Acessories</a> (32)</li>
                    <li><a href="#">Love life</a> (12)</li>
                    <li><a href="#">My Work</a> (21)</li>
                    <li><a href="#">My Trip</a> (8)</li>
                  </ul>
                </div>

                <div class="widget-sidebar widget_archive">
                  <h3>Archives</h3>
                  <ul>
                    <li><a href="#">May 2014</a> (20)</li>
                    <li><a href="#">April 2014</a> (32)</li>
                    <li><a href="#">March 2014</a> (12)</li>
                    <li><a href="#">February 2014</a> (21)</li>
                    <li><a href="#">January 2014</a> (8)</li>
                  </ul>
                </div>
                
            </div>
            <!-- end:sidebar -->
            
        </div>
      </div>
    </section>
    <!-- end:content -->



