    <!-- begin:header -->
    <section id="header" class="heading" style="background: url({{assets}}/img/img05.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title-desc">
                        <h2>Portfolio /</h2>
                        <p>My awesomest work.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- end:header -->

    <!-- begin:content -->
    <section id="content">
      <div class="container">
        <div class="row">
            <!-- begin:article -->
            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-md-12 post-single">
                        <div class="heading-title">
                            <h2><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <img src="img/img03.jpg" alt="danish magazine template">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <img src="img/img01.jpg" alt="danish magazine template">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <img src="img/img02.jpg" alt="danish magazine template">
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <img src="img/img04.jpg" alt="danish magazine template">
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

            </div>
            <!-- end:article -->

            <!-- begin:sidebar -->
            <div class="col-md-4 col-sm-4 sidebar">

                <div class="widget-sidebar default_widget">
                  <h3>Overview</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in.</p>
                </div>

                <div class="widget-sidebar widget_categories">
                  <h3>What We Have Done</h3>
                  <ul>
                    <li><i class="fa fa-check-square-o"></i> adsf</li>
                    <li><i class="fa fa-check-square-o"></i> Lorem</li>
                    <li><i class="fa fa-check-square-o"></i> Lorem ipsum dolor</li>
                    <li><i class="fa fa-check-square-o"></i> Lorem sit</li>
                    <li><i class="fa fa-check-square-o"></i> Lorem dolor sit</li>
                  </ul>
                </div>

                <div class="widget-sidebar widget_categories">
                  <h3>Credits</h3>
                  <ul>
                    <li><a href="#">Lorem dolor sit</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem sit</a></li>
                    <li><a href="#">Lorem dolor sit</a></li>
                  </ul>
                </div>

                <a href="#" class="btn btn-lg btn-info">See The Demo</a>
                
            </div>
            <!-- end:sidebar -->

        </div>
      </div>
    </section>
    <!-- end:content -->