    <!-- begin:partner -->
    <section id="partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled brand-img">
                      <li>
                        <a href="#"><img src="{{assets}}/img/partner01.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{assets}}/img/partner02.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{assets}}/img/partner01.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{assets}}/img/partner02.png"></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end:partner -->

    <!-- begin:footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h3>Recent Post</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem sit</a></li>
                            <li><a href="#">Lorem dolor sit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h3>Useful Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Lorem sit</a></li>
                            <li><a href="#">Lorem dolor sit</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="footer-logo">
                        <h2><i class="fa fa-recycle"></i> Danish.</h2>
                        <p>1024 Main Street, Jejeran Plrt Btl<br>+62 (123) 456-7890</p>
                        <br>
                        <p class="muted">© 2014 Brand Inc.</p>
                        <a href="#">Terms of Service</a>    
                        <a href="#">Privacy</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end:footer -->

    <!-- begin:copyright -->
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 copy-left">
            <p>Copyright &copy; 2014 <strong>avriqqlabs</strong>. All Right Reserved.</p>
          </div>

          <div class="col-md-6 col-sm-6 copy-right">
            <ul class="list-inline social-icon">
              <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end:copyright -->